.env

get-docker.sh

uploads/*
!uploads/photos/
!uploads/avatars/
uploads/photos/*
uploads/avatars/*
!uploads/photos/.gitkeep
!uploads/avatars/.gitkeep


node_modules/
/pids
/logs
*.log
npm-debug.log*

README_TravelShare_API.md
